
@{
    ViewBag.Title = "CommentsPage";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Comments Test Home Page</title>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="~/Scripts/demo1/test01.js"></script>
</head>
<body style="background-color:aliceblue">
    <div id="content" style="align-content:center">
        <div id="demo-actions">
            <p>Get Comments Demo</p>
            <button id="getComments" onclick="tz()">Go</button>
        </div>
    </div>
    <br/><br /><br />
    <div>
            请输入查询id:<input type="text" id="id" /><button onclick="tf()">查找</button>
    </div>
</body>


</html>

