
@{
    ViewBag.Title = "First";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>First</title>
</head>
<body>
    <div>
        @ViewData["msg"]<br/><br/>
        <a href="/Home/Second">a标计生成的静态超链接</a>
    </div>
</body>
</html>
<h2>First</h2>

